{% if type == 'Available' %}
<div class="table-responsive ">
    <table class="table align-middle table-bordered table-alternet tbl-white fs-6 gy-5 ">
        <thead>
            <tr class="text-start fw-bolder fs-7 text-uppercase gs-0">
                <th class="w-10px pe-2"></th>
                <th class="min-w-125px">Job ID</th>
                <th class="min-w-125px">Client ID</th>
                <th class="min-w-125px">Client Name</th>
            </tr>
        </thead>
        <!--begin::Table body-->
        <tbody class="text-gray-600 fw-bold">
            <!--begin::Table row-->
            {% for available_project in available_projects %}
            <tr>
                <!--begin::Checkbox-->
                <td>
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                        <input class="form-check-input jId-select available-order" type="radio" value="{{available_project.id}}"  name="job-client-ID" 
                        data-client_name='{{available_project.client_id}}' data-job_description='{{available_project.job_description}}' />
                    </div>
                </td>
                <!--end::Checkbox-->
                <td>
                    <span class="job-ID"> {{available_project.id}}</span>
                </td>
                <td><span class="client-ID">{{available_project.client_id}}</span></td>
                <td><span class="client-name"> {{available_project.client_name}}</span> </td>
                <td style="display:none;" ><span class="job_description"> {{available_project.project_name}}</span> </td>
            </tr>
        
            {% endfor %}

        </tbody>
        <!--end::Table body-->
    </table>
</div>
{% endif %}

{% if type == 'Inprogress' %}
<div class="table-responsive">
    <table class="table align-middle table-bordered table-alternet table fs-6 gy-5">
        <thead>
            <tr class="text-start fw-bolder fs-7 text-uppercase gs-0">
                <th class="w-10px pe-2"></th>
                <th class="min-w-125px">Job ID</th>
                <th class="min-w-125px">Client ID</th>
                <th class="min-w-125px">Client Name</th>
            </tr>
        </thead>
        <!--begin::Table body-->
        <tbody class="text-gray-600 fw-bold">
            <!--begin::Table row-->
            {% for inprogress_project in jobs_in_progress  %}
            <tr>
                <!--begin::Checkbox-->
                <td>
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                        <input class="form-check-input jId-select" type="radio" value="{{inprogress_project.id}}"  name="job-client-ID" />
                    </div>
                </td>
                <!--end::Checkbox-->
                <td>
                    <span class="job-ID"> {{inprogress_project.job_id}}</span>
                </td>
                <td><span class="client-ID">{{inprogress_project.client_id}}</span></td>
                <td>{{inprogress_project.client_name}}</td>
            </tr>
        
            {% endfor %}

        </tbody>
        <!--end::Table body-->
    </table>
</div>
<!--  -->
{% endif  %}
{% if type == 'send' %}
<div class="table-responsive">
    <table class="table align-middle table-bordered table-alternet table-alternet table fs-6 gy-5">
        <thead>
            <tr class="text-start fw-bolder fs-7 text-uppercase gs-0">
                <th class="w-10px pe-2"></th>
                <th class="min-w-125px">Job ID</th>
                <th class="min-w-125px">Client ID</th>
                <th class="min-w-125px">Client Name</th>
            </tr>
        </thead>
        <!--begin::Table body-->
        <tbody class="text-gray-600 fw-bold">
            <!--begin::Table row-->
            {% for send_project in jobs_send  %}
            <tr>
                <!--begin::Checkbox-->
                <td>
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                        <input class="form-check-input jId-select" type="radio" value="{{send_project.id}}"  name="job-client-ID" />
                    </div>
                </td>
                <!--end::Checkbox-->
                <td>
                    <span class="job-ID"> {{send_project.job_id}}</span>
                </td>
                <td><span class="client-ID">{{send_project.client_id}}</span></td>
                <td>{{send_project.client_name}}</td>
            </tr>
        
            {% endfor %}

        </tbody>
        <!--end::Table body-->
    </table>
</div>
{% endif %}