{% load room_extras %}
<!-- <div class="card mb-5 mb-xxl-4">
    <div class="card-body">
        <h3>Room list</h3>  {{room}}

        <div class="room-list-container">

            {% for mroom in all_rooms %}
            <div class="room-lbl">
                 <input id="room_list_mroom.id" class="btn {% ifequal mroom.id room.id %}btn-primary{% else %}btn-secondary{% endifequal %}"   >
                              {{mroom}} </input>
            </div>
            {% endfor %}
        </div>
    </div>
</div> -->
<div class="card mb-5 mb-xxl-4">
<div class="card-body">
    <h3>Room list</h3>

<div class="room-list-container">

        {% for mroom in all_rooms %}
            <div class="room-lbl">
            <input type="radio" class="" id="room_{{mroom.id}}" data-room_text="{{mroom}}" name="roomList" value="{{mroom.id}}" >
            <label for="room_{{mroom.id}}" class="btn">{{mroom}}</label>
            </div>
        {% endfor %}

</div>
</div>
</div>
<script>    </script>