<div class="row">
    <div class="col-lg-4">
        <h3 class="card-title align-items-start   d-block justify-content-between">
            <span class="card-label fs-6 mb-1 d-block mb-3"> <strong
                class="text-muted">Client ID: </strong>
            #{{ room.job.client_id }}</span>
            <span class="card-label fs-6 mb-1 d-block mb-3"><strong
                class="text-muted">Job ID: </strong>
            #{{ room.job.job_id }}</span>
            <span class="card-label fs-6 mb-1 d-block mb-3"><strong
                class="text-muted">Customer
            Name: </strong> {{ request.user.name|title }}</span>
        </h3>
    </div>
    <div class="col-lg-4">
        <h3 class="card-title align-items-start   d-block justify-content-between">
            <span class="card-label fs-6 mb-1 d-block mb-3"> <strong
                class="text-muted">Room Material: </strong>
            {{ room.mat_type }}</span>
            <span class="card-label fs-6 mb-1 d-block mb-3"> <strong
                class="text-muted">Room Board Color: </strong> {{ room.bd_color }} </span>
            <span class="card-label fs-6 mb-1 d-block mb-3"> <strong
                class="text-muted">Room Stain: </strong> {{ room.mat_color_stain|default_if_none:"-" }} </span>
            <span class="card-label fs-6 mb-1 d-block mb-3"><strong
                class="text-muted">Room Edge Color: </strong>
            {{ room.ed_color }} </span>
            <span class="card-label fs-6 mb-1 d-block mb-3"><strong
                class="text-muted">Room Edge Type: </strong>
            {{ room.ed_type }} </span>
        </h3>
    </div>
    <div class="col-lg-4">
        <h3 class="card-title align-items-start   d-block justify-content-between">
            <span class="card-label fs-6 mb-1 d-block mb-3"> <strong
                class="text-muted">Door 'n Drawer Meterial Type: </strong>
            {{ room.dd_mat_type }}</span>
            <span class="card-label fs-6 mb-1 d-block mb-3"> <strong
                class="text-muted">Door 'n Drawer Board Color: </strong>
            {{ room.dd_color }}</span>
            <span class="card-label fs-6 mb-1 d-block mb-3"> <strong
                class="text-muted">Door 'n Drawer Stain: </strong>
            {{ room.dd_mat_color_stain|default_if_none:"-" }}</span>
            <span class="card-label fs-6 mb-1 d-block mb-3"> <strong
                class="text-muted">Door 'n Drawer Edge Color: </strong> {{  room.dd_ed_color }} </span>
            <span class="card-label fs-6 mb-1 d-block mb-3"><strong
                class="text-muted">Door 'n Drawer Edge Type: </strong>
            {{  room.dd_ed_type }} </span>
        </h3>
    </div>
</div>