{% extends 'room_options/base_room_option.html' %} {% load static custom_tag %}
{% load room_extras %}
{% block navbartitle %} Adjustable Shelf{% endblock %}
{% block option_title %}Adjustable Shelf{% endblock %}
{% block crumb %}Adjustable Shelf{% endblock %}
{% block extra_stylesheets %}
<style>
    .pdtop-20
    {
        padding-top: 15px;
    }
    .custom-width, .custom-depth
    {
        padding-left: 6px;
        padding-right: 6px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    input[type=number] {
    -moz-appearance: textfield;
    }
</style>
{% endblock %}

{% block room_form %}

<form method="POST" action="" id="adj_form">
    {% csrf_token %}
    <div class="d-lg-flex mb-8 pb-3 mt-8 justify-content-between align-items-center">
        <h2 class="selected_room">Selected Room: {{ room|title }}</h2>
        {% for room in rooms %}
        <input type="hidden" name="room" data-url="{% url 'franchise:room-detail' room_id=room.id %}" value="{{room.id}}"  {% if form.room.value == room.id %} checked {% endif %} {% if selected_room.id == room.id %} checked {% endif %}/>
        {% endfor %}
        <div class="buttons-type-list">
            <a class="btn btn-secondary me-2 text-center standard-btn" href="{% url 'room_options:room-adj-shelf' room_id=room.id  %}?type=STANDARD">Standard</a>
            <a class="btn btn-secondary me-2 text-center standard-btn active" href="{% url 'room_options:room-adj-shelf' room_id=room.id %}?type=CUSTOM">Custom Adj
                Shelf</a>
            <a class="btn btn-secondary me-2 text-center standard-btn" href="{% url 'room_options:room-adj-shelf' room_id=room.id %}?type=1_IN_ADJ">1 In Adj Shelf</a>
            <a class="btn btn-secondary me-2 text-center standard-btn" href="{% url 'room_options:room-adj-shelf' room_id=room.id %}?type=SHOE_SHELF">Shoe Shelf</a>
        </div>
    </div>
    <!-- End:: Basic info-->
    <div class="card mb-5 mb-xxl-8 custom-kd-shelves-block ">
        <div class="card-header border-0 pt-5">
            <h3 class="card-title align-items-start flex-row justify-content-between w-100 align-items-center">
                Custom Adjustable Shelf
            </h3>
        </div>
        <div class="card-body custom_section standard_block">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-body table-responsive add-block">
                        <div class="row ">
                            <div class="col-md-6">
                                <div class="mb-10">
                                    <label class="required fs-6 fw-bold mb-2">Material
                                    Type</label>
                                    <select class="form-select form-select-solid material_type" data-control="select2" data-hide-search="true" data-placeholder="Select Material" name="{{form.mat_type.name}}">
                                        <option selected value="">Select Material Type</option>
                                        {% for value, text in form.mat_type.field.choices %}
                                        <option value="{{value}}" {% if form.mat_type.value == value %} selected {% endif %}>{{text}}</option>
                                        {% endfor %}
                                    </select>
                                    {{form.mat_type.errors.0}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-10">
                                    <label class="required fs-6 fw-bold mb-2">Edge</label>
                                    <select class="form-select form-select-solid edge" data-control="select2" data-placeholder="Select Edge" name="{{form.adj_shelf_edge.name}}">
                                        <option selected value="">Select Edge</option>
                                        {% for value, text in form.adj_shelf_edge.field.choices %}
                                        <option value="{{value}}" {% if form.adj_shelf_edge.value == value %} selected {% endif %}>{{text}}</option>
                                        {% endfor %}
                                    </select>
                                    {{form.room.errors.0}}
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6">
                                <div class="mb-10">
                                    <label class="required fs-6 fw-bold mb-2">Exposed End</label>
                                    <select class="form-select form-select-solid exposed_end" data-control="select2" data-placeholder="Select Exposed End" name="{{form.adj_exposed_end.name}}">
                                        <option selected value="">Select Exposed End</option>
                                        {% for value, text in form.adj_exposed_end.field.choices %}
                                        <option value="{{value}}" {% if form.adj_exposed_end.value == value %} selected {% endif %}>{{text}}</option>
                                        {% endfor %}
                                    </select>
                                    {{form.adj_exposed_end.errors.0}}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center mb-6">
                            <div class="col-md-4 fv-row">
                                <label class="form-check-label fs-6 fw-bold mb-2 " for="1mm">Qty</label>
                                <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control quantity form-control-solid" placeholder="Qty" name="{{form.quantity.name}}" value="{% if form.quantity.value %}{{form.quantity.value}}{% endif %}">
                                {{form.quantity.errors.0}}
                            </div>
                            <div class="col-md-1 fv-row mt-4">
                                <label class="pdtop-20 d-inline-block">@</label>
                            </div>
                            <div class="col-md-3 fv-row">
                                <label class="form-check-label fs-6 fw-bold mb-2" for="1mm">Width</label>
                                <input type="text" class="form-control width form-control-solid custom-width" placeholder="Width" name="{{form.width.name}}" value="{% if form.width.value %}{{form.width.value}}{% endif %}">
                                {{form.width.errors.0}}
                            </div>
                            <div class="col-md-1 fv-row mt-4">
                                <span class="fs-6 fw-bold pdtop-20 d-inline-block"">X</span>
                            </div>
                            <div class="col-md-3 fv-row">
                                <label class="form-check-label fs-6 fw-bold mb-2" for="1mm">Depth</label>
                                <input type="text" oninput="this.value = Math.abs(this.value)" class="form-control depth form-control-solid custom-depth" placeholder="Depth" name="{{form.depth.name}}" value="{% if form.depth.value %}{{form.depth.value}}{% endif %}">
                                {{form.depth.errors.0}}
                            </div>
                        </div>
                        <div class="notes">
                            <label class="fs-6 fw-bold mb-2">Notes:</label>
                            <textarea class="form-control custom_notes" name="{{form.notes.name}}">{% if form.notes.value %} {{form.notes.value}} {% endif %}</textarea>
                            {{form.notes.errors.0}}
                        </div>
                        <input type="hidden" name="{{form.part_sub_category.name}}" value="CUSTOM">
                        {% if room_adj %}
                        <div class="d-flex justify-content-end pt-7">
                            <a class="btn btn-secondary me-2" href="{% url 'room_options:room-adj-shelf' room_id=room.id  %}">Cancel</a>
                            <button class="btn btn-primary standard_submit submit-form" id="submit-data" type="button">Update</button>
                        </div>
                        {% else %}
                        <div class="d-flex justify-content-end pt-7">
                            <button class="btn btn-secondary me-2 clear-btn clear-data" type="reset">Clear</button>
                            <button class="btn btn-primary standard_submit submit-form" id="submit-data" type="button">Submit</button>
                        </div>
                        {% endif %}
                    </div>
                    <!--end::Card body-->
                </div>
            </div>
        </div>
    </div>
</form>
{% include 'room_options/partials/_adj_shelf_table.html' with adj_shelves=adj_shelves %}

{% endblock %}

{% block extra_scripts %}
<script>
    // ------Vertical-tree-view
    
    $(".standard_btn").click(function (e) {
        e.preventDefault();
        $(".standard_section").removeClass("d-none");
        $(".custom-kd-shelves-block").addClass("d-none");
        $(".1kd-shelves-block").addClass("d-none");
        $(".cedar_backed_block").addClass("d-none");
    })
    
    
    $(".custom-kd-shelves").click(function (e) {
        e.preventDefault();
        $(".custom-kd-shelves-block").removeClass("d-none");
        $(".standard_section").addClass("d-none");
        $(".1kd-shelves-block").addClass("d-none");
        $(".cedar_backed_block").addClass("d-none");
    })
    
    $(".1kd-shelves").click(function (e) {
        $(".1kd-shelves-block").removeClass("d-none");
        $(".standard_section").addClass("d-none");
        $(".custom-kd-shelves-block").addClass("d-none");
        $(".cedar_backed_block").addClass("d-none");
    })
    
    $(".cedar_backed").click(function (e) {
        $(".cedar_backed_block").removeClass("d-none");
        $(".1kd-shelves-block").addClass("d-none");
        $(".standard_section").addClass("d-none");
        $(".custom-kd-shelves-block").addClass("d-none");
    })
    
    
    // $(".standard_submit").click(function (e) {
    //     e.preventDefault();
    //     var ele = $(this).parents(".standard_block");
    //     var category = $(this).parents(".standard_block").siblings(".card-header").find("h3").text();
    //     var depth = $(ele).find(".depth_select  option:selected").val();
    //     var material = $(ele).find(".material_select  option:selected").val();
    //     var height = $(ele).find(".height_select  option:selected").val();
    //     var qty = $(ele).find(".qty").val();
    //     var notes = $(ele).find(".standard_notes").val();
    
    //     console.log("ele", ele);
    //     console.log(material, depth, height, qty);
    
    //     if (material == 0 && depth == 0 && height == 0 && qty == 0) {
    //         sweetAlert('Please Fill all the Field');
    //     }
    //     else if (material == undefined && depth == undefined && height == undefined && qty == "") {
    //         sweetAlert('Please Fill all the Field');
    //     }
    
    //     else if (material == 0 || material == undefined) {
    //         sweetAlert('material Type is required.');
    
    //     }
    //     else if (depth == 0 || depth == undefined) {
    //         sweetAlert('depth is required.');
    
    //     }
    //     else if (height == 0 || height == undefined) {
    //         sweetAlert('Width is required.');
    
    //     }
    //     else if (qty == "") {
    //         sweetAlert('Quantity is required.');
    //     } else {
    //         $('#submit-data').attr('disabled', true);
    //         $('#adj_form').submit();
    //         clearData();
    //     }
    
    // })
    
    $(".standard_submit").click(function(e) {
        var ele = $(this).parents('.add-block');
    
        var Category = $(this).parents(".custom_section").siblings(".card-header").find("h3").text();
        var material_type = $(ele).find(".material_type  option:selected").val()
        var Edge = $(ele).find(".edge option:selected").val()
        var exposed_end = $(ele).find(".exposed_end option:selected").val()
        var quantity = $(ele).find('.quantity').val();
        var width = $(ele).find('.width').val();
        var depth = $(ele).find('.depth').val();
        var notes = $(ele).find(".custom_notes").val();
    
        if (material_type == 0 && Edge == 0 && exposed_end == 0 && quantity == "" && width == "" && depth == "") {
            sweetAlert('Please Fill all the Field');
        } else if (material_type == undefined && Edge == undefined && exposed_end == undefined && quantity == "" && width == "" && depth == "") {
            sweetAlert('Please Fill all the Field');
        } else if (material_type == 0 || material_type == undefined) {
            sweetAlert('material Type is required.');
        } else if (Edge == 0 || Edge == undefined) {
            sweetAlert('Edge is required.');
        } else if (exposed_end == 0 || exposed_end == undefined) {
            sweetAlert('Exposed end required.');
        } else if (quantity == "") {
            sweetAlert('Quantity is required.');
        } else if (width == "") {
            sweetAlert('width is required.');
        } else if (depth == "") {
            sweetAlert('Depth is required.');
        } else {
            $('#submit-data').attr('disabled', true);
            $('#adj_form').submit();
            // var html = `<tr>
            //             <td>1</td>
            //             ${actions}
            //             <td>Room 1</td>
            //             <td>${Category}</td>
            //             <td>${depth}</td>
            //             <td>--</td>
            //             <td>${material_type}</td>
            //             <td>${quantity}</td>
            //             <td>${Edge}</td>
            //             <td>${internal_kd}</td>
            //             <td>${width}</td>
            //            <td>${notes}</td>
    
                        
            //         </tr>`;
            // $(".adj_table").append(html);
            clearData();
    
        }
        e.preventDefault();
    
    });
    
    $(".add-data").click(function(e) {
        
        var Category = $(this).parents('.1_shelf_section').siblings(".card-header").find("h3").text();
        console.log("cat", Category);
    
        var Edge = $(this).parents(".second_section").find(".edge option:selected").val();
        var notes = $(this).parents(".second_section").find(".1_shelf_notes").val();
    
    
    
        console.log("edge", Edge);
    
        var ele = $("input[name='Plytype']:checked").parents('.add-block');
    
        if ($("input[name='Plytype']:checked").length > 0) {
            var quantity = $(ele).find('.quantity').val();
            var width = $(ele).find('.width').text();
            var depth = $(ele).find('.depth').text();
    
            console.log("width", width);
            console.log("de", depth);
    
            if (quantity == "") {
                e.preventDefault();
                sweetAlert('Quantity is required.');
            } else if (Edge == 0 || Edge == undefined) {
                e.preventDefault();
                sweetAlert('Edge is required.');
            }
    
            // else if (width == "") {
            //     sweetAlert('Width is required.');
            // }
            // else if (depth == "") {
            //     sweetAlert('Depth is required.');
            // }
            else {
                $(this).parents('form').submit()
                // var html = `<tr>
                //             <td>1</td>
                //             ${actions}
                //             <td>Room 1</td>
                //             <td>${Category}</td>
                //             <td>${depth}</td>
                //             <td>--</td>
                //             <td>--</td>                                
                //             <td>${quantity}</td>
                //             <td>${Edge}</td>
                //             <td>--</td>
                //             <td>${width}</td>
                //             <td>${notes}</td>                                                                                                                                                   
                //         </tr>`;
    
    
                // $(".adj_table").append(html);
    
                // clearData();
            }
        } else {
            // $(this).parents('.add-block').find('.display-msg').text("please select row");
            sweetAlert("Please select row.")
        }    
    });
    
    $(".cedar_backed_add").click(function (e) { 
        e.preventDefault();
    
        var ele = $(this).parents(".cedar_body");
        var Category = $(ele).siblings(".card-header").find("h3").text();
        console.log("cat" , Category); 
        var depth = $(ele).find(".depth option:selected").val();     
        var width =  $(ele).find(".width option:selected").val();  
        var quantity =   $(ele).find(".quantity").val();  
        var notes =   $(ele).find(".cedar_notes").val();     
        console.log("width" , quantity , notes);
    
        if(depth == 0 && width == 0 && quantity == "" && notes == ""){
            sweetAlert('Please Fill all the Field');
        }
    
        else if( depth == undefined && width == undefined && quantity =="" && notes ==""){
            sweetAlert('Please Fill all the Field');
        }
    
        else if (depth == 0 || depth == undefined) {
            sweetAlert('depth is required.');
        }
        else if (width == 0 || width == undefined) {
            sweetAlert('depth is required.');
        }
    
        else if (quantity == "") {
            sweetAlert('Quantity is required.');
        }
    
        else {
            var html = `<tr>
                        <td>1</td>
                        ${actions}
                        <td>Room 1</td>
                         <td>${Category}</td>
                         <td>${depth}</td>
                         <td>--</td>
                         <td>--</td>
                        <td>${quantity}</td>
                        <td>${width}</td>
                        <td>--</td>
                        <td>--</td>   
                        <td>${notes}</td>                           
                    </tr>`;
    
    
            $(".adj_table").append(html);
    
            clearData();
        }
    
    })
    
    // $(".custom-kd-shelves").click(function (e) {
    //     $(".custom-kd-shelves-block").toggleClass('d-none');
    
    //     if ($(".custom-kd-shelves-block").hasClass("d-none")) {
    //         $(".dafault-shelve").find("input").prop("disabled", false)
    //         $(".dafault-shelve").find("button").prop("disabled", false)
    //         $(".dafault-shelve").find("select").removeAttr("disabled", "enabled")
    //     } else {
    //         $(".dafault-shelve").find("input").prop("disabled", true)
    //         $(".dafault-shelve").find("button").prop("disabled", true)
    //         $(".dafault-shelve").find("select").attr("disabled", "disabled")
    //     }
    //     $(".1kd-shelves-block").addClass('d-none');
    //     $(".cedar_backed_block").addClass("d-none");
    
    //     e.preventDefault();
    
    // });
    
    // $(".add-kd-shelves").click(function (e) {
    //     var ele = $(this).parents('.add-block');
    //     var material_type = $(ele).find(".metrerial_type option:selected").val()
    //     var Edge = $(ele).find(".edge option:selected").val()
    //     var internal_kd = $(ele).find(".internal_kd option:selected").val()
    //     var quantity = $(ele).find('.quantity').val();
    //     var width = $(ele).find('.width').val();
    //     var depth = $(ele).find('.depth').val();
    //     if (material_type == "") {
    //         sweetAlert('Quantity is required.');
    //         ('Material is required.');
    //     } else if (Edge == "") {
    //         sweetAlert('Quantity is required.');
    //         ('Edge is required.');
    //     } else if (internal_kd == "") {
    //         sweetAlert('Quantity is required.');
    //         ('Internal KD is required.');
    //     }
    //     if (quantity == "") {
    //         sweetAlert('Quantity is required.');
    //         ('Quantity is required.');
    //     } else if (width == "") {
    //         sweetAlert('Width is required.');
    //     } else if (depth == "") {
    //         sweetAlert('Depth is required.');
    //     } else {
    //         var html = `<tr>
    //                     <td>${material_type}</td>
    //                     <td>${Edge}</td>
    //                     <td>${internal_kd}</td>
    //                     <td>${quantity}</td>
    //                     <td>${width}</td>
    //                     <td>${depth}</td>                            
    //                 </tr>`;
    //         $(".custom_adj_table").append(html);
    //         $(ele).find(".metrerial_type").val("")
    //         $(ele).find(".edge").val("");
    //         $(ele).find(".internal_kd").val("");
    //         $(ele).find('.quantity').val("");
    //         $(ele).find('.width').val("");
    //         $(ele).find('.depth').val("");
    //     }
    //     e.preventDefault();
    
    
    // });
    
    
    // $(".add-data").click(function (e) {
    
    //     var ele = $("input[name='Plytype']:checked").parents('.add-block');
    
    //     if ($("input[name='Plytype']:checked").length > 0) {
    //         var quantity = $(ele).find('.quantity').val();
    //         var width = $(ele).find('.width').val();
    //         var depth = $(ele).find('.depth').val();
    //         if (quantity == "") {
    //             sweetAlert('Quantity is required.');
    //         } else if (width == "") {
    //             sweetAlert('Width is required.');
    //         } else if (depth == "") {
    //             sweetAlert('Depth is required.');
    //         } else {
    //             var html = `<tr>
    //                         <td>${quantity}</td>
    //                         <td>${width}</td>
    //                         <td>${depth}</td>
    //                         <td>Room 1</td>
    //                         <td>Standard</td>
    //                     </tr>`;
    //             $(".kd_shelves_table").append(html);
    //             $(ele).find('.quantity').val("");
    //             $(ele).find('.width').val("");
    //             $(ele).find('.depth').val("");
    //         }
    //     } else {
    //         // $(this).parents('.add-block').find('.display-msg').text("please select row");
    //         sweetAlert("Please selcet row.")
    //     }
    
    // });
    
    // $(".cedar_backed_add").click(function (e) {
    //     var ele = $(this).parents('.add-block');
    //     var quantity = $(ele).find('.quantity').val();
    //     var width = $(ele).find('.width option:selected').val();
    //     var depth = $(ele).find('.depth option:selected').val();
    //     if (depth == "") {
    //         sweetAlert('Depth is required.');
    //     } else if (width == "") {
    //         sweetAlert('Width is required.');
    //     } else if (quantity == "") {
    //         sweetAlert('Quantity is required.');
    //     } else {
    //         var html = `<tr>
    //                         <td>${quantity}</td>
    //                         <td>${width}</td>
    //                         <td>${depth}</td>
    //                     </tr>`;
    //         $(".cedar_backed_table").append(html);
    //         $(ele).find('.quantity').val("");
    //     }
    
    //     e.preventDefault();
    
    
    // });
    
    // $(".1kd-shelves").click(function (e) {
    //     $(".custom-kd-shelves-block").addClass('d-none');
    //     $(".1kd-shelves-block").toggleClass('d-none');
    //     $(".cedar_backed_block").addClass("d-none");
    //     if ($(".1kd-shelves-block").hasClass("d-none")) {
    //         $(".dafault-shelve").find("input").prop("disabled", false)
    //         $(".dafault-shelve").find("button").prop("disabled", false)
    //         $(".dafault-shelve").find("select").removeAttr("disabled", "enabled")
    //     } else {
    //         $(".dafault-shelve").find("input").prop("disabled", true)
    //         $(".dafault-shelve").find("button").prop("disabled", true)
    //         $(".dafault-shelve").find("select").attr("disabled", "disabled")
    //     }
    //     e.preventDefault();
    
    // });
    
    // $(".cedar_backed").click(function () {
    //     $(".cedar_backed_block").toggleClass("d-none");
    //     $(".custom-kd-shelves-block").addClass('d-none');
    //     $(".1kd-shelves-block").addClass('d-none');
    
    //     if ($(".cedar_backed_block").hasClass("d-none")) {
    //         $(".dafault-shelve").find("input").prop("disabled", false)
    //         $(".dafault-shelve").find("button").prop("disabled", false)
    //         $(".dafault-shelve").find("select").removeAttr("disabled", "enabled")
    //     } else {
    //         $(".dafault-shelve").find("input").prop("disabled", true)
    //         $(".dafault-shelve").find("button").prop("disabled", true)
    //         $(".dafault-shelve").find("select").attr("disabled", "disabled")
    //     }
    // })
    
    
    deleteDoorItem=(url,pk)=>{
        $.ajax({                       
            url: url,                  
            data: {"pk":pk
                },
            success: function (data) {
            data=JSON.parse(data)
            if(data['status']==200){
                Swal.fire({
                    title:    'Deleted!',
                    text: 'Your data has been deleted.',
                    icon:  'success',
                    customClass: {
                    confirmButton: 'btn btn-primary',            
                    },
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload();
                        }
                    });
                } 
                
            }   
        });
    }
    $(document).on("click", ".del-data", function (e) {
        pk= $(this).data('delete_id')
        delete_url = $(this).data('url')
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,       
                customClass: {
                    confirmButton: 'btn btn-primary',
                    cancelButton: 'btn btn-secondary'
                },
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                deleteDoorItem(delete_url,pk)
                }
            })
            e.preventDefault();
    });
    
        $('input[type=radio][name=room]').change(function() {
            text = "Selected Room: "+ $(this).siblings('label').text()
            $(".selected_room").text(text) 
            url = $(this).attr('data-url')
            value = $(this).siblings('label').text();
            $("#data_table td.form_detail:contains('" + value + "')").parent().show();
            $("#data_table td.form_detail:not(:contains('" + value + "'))").parent().hide();
    
            $.ajax({
                url: url,
                method: "GET",
                success: function (data) {
                    text_bd_color ="<em class='text-muted'>Board Color:</em> " + data['bd_color']
                    text_ed_profile ="<em class='text-muted'>Edge Profile:</em> " + data['ed_profile']
                    text_ed_color ="<em class='text-muted'>Edge Color:</em> " + data['ed_color']
                    text_dd_color ="<em class='text-muted'>Door 'n Drawer Color:</em> " + data['dd_color']
                    $(".bd_color_class").html(text_bd_color)
                    $(".ed_profile_class").html(text_ed_profile)
                    $(".ed_color_class").html(text_ed_color)
                    $(".dd_color_class").html(text_dd_color)
                },
                error: function (data) {}
            })
        })
    
        $( document ).ready(function() {
            value = $('input[type=radio][name=room]:checked').siblings('label').text();
            $("#data_table td.form_detail:contains('" + value + "')").parent().show();
            $("#data_table td.form_detail:not(:contains('" + value + "'))").parent().hide();
        })
    
</script>
{% endblock %}