{% extends 'room_options/base_room_option.html' %} {% load static custom_tag %}
{% load room_extras %}
{% block navbartitle %} Room Partition{% endblock %}
{% block option_title %}Room Partition{% endblock %}
{% block crumb %}Room Partition{% endblock %}

{% block room_form %}
<!--begin::Root-->
    <form class="mb-5 mb-xxl-4 px-0" method="POST" action="" id="custom-partition-form">
        {% csrf_token %}

    <div class="d-md-flex align-items-center py-1 justify-content-between  mt-8 mb-4">
        <h3 class="card-title selected_room">
            Selected Room : {{ room|title }}
        </h3>

        <div class="buttons-type-list">
            <a href="{% url 'room_options:room-partition' room_id=room.id  %}?type=STANDARD" class="btn btn-secondary me-2 text-center standard-btn" id="standard_partition">Standard</a>
            <a href="{% url 'room_options:room-partition' room_id=room.id %}?type=CUSTOM" class="btn btn-secondary me-2 text-center standard-btn active" id="custom_partition">Custom Partition</a>
        </div>
    </div>

    <!-- custom partition section -->


        <div class="card custom_partition_section">
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-row justify-content-between w-100 align-items-center">
                    Custom Partition
                </h3>
            </div>

            <div class="card-body standard_block">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="fs-6 fw-bold required">Height: </label>
                                <div class="form-check form-check-custom form-check-solid mx-3  mt-2">
                                    <input class="form-check-input custom_partition_radio" type="radio" value="Standard"
                                           id="standard-height" name="custom_partition_height_radio" />
                                    <label class="form-check-label me-4 fs-6" for="standard-height">
                                        Standard
                                    </label>
                                    <input class="form-check-input custom_partition_radio" type="radio" value="Custom"
                                           id="custom-height" name="custom_partition_height_radio" />
                                    <label class="form-check-label fs-6 " for="custom-height">
                                        Custom
                                    </label>
                                </div>
                                <div class="custom_text d-none">
                                    <input type="text" class="form-control form-control-solid
                                                                mt-4 custom_height_text custom_height"
                                           placeholder="Enter Custom Height"
                                           id="id_height"
                                           {% ifnotequal form.height.value None %}
                                           value="{{form.height.value}}"
                                           {% else %}
                                           value=""
                                           {% endifnotequal %}
                                           name="{{form.height.name}}"/>
                                </div>
                                <div class="text_dropdown d-none">
                                    <select class="form-select fs-6 fw-bold form-select-solid custom_height mt-4"
                                            data-control="select2" data-hide-search="false" data-placeholder="Select Height" >
                                        <option value="">Select Height</option>
                                        {% for value, text in form.height.field.choices %}
                                        <option {% if form.height.value|slugify == value|slugify %} selected {% endif %} value="{{value}}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <label class="fs-6 fw-bold required">Depth: </label>
                                <div class="form-check form-check-custom form-check-solid mx-3 mt-2">
                                    <input class="form-check-input custom_partition_radio_depth" type="radio" id="standard_depth" value="Standard" name="custom_partition_depth_radio" />
                                    <label class="form-check-label me-4" for="standard_depth">
                                        Standard
                                    </label>
                                    <input class="form-check-input custom_partition_radio_depth" type="radio" value="Custom" id="custom_depth" name="custom_partition_depth_radio" />
                                    <label class="form-check-label" for="custom_depth">
                                        Custom
                                    </label>
                                </div>

                                <div class="custom_text d-none">
                                    <input type="text" class="form-control form-control-solid mt-4 custom_depth"
                                           placeholder="Enter Custom Depth"
                                           id="id_depth"
                                           {% ifnotequal form.depth.value None %}
                                           value="{{form.depth.value}}"
                                           {% else %}
                                           value=""
                                           {% endifnotequal %}
                                           name="{{form.depth.name}}"/>
                                </div>

                                <div class="text_dropdown d-none">
                                    <select class="form-select form-select-solid custom_depth mt-4"
                                            data-control="select2" data-hide-search="false" data-placeholder="Select Depth" name="">
                                        <option value="">Select Depth</option>
                                        {% for value, text in form.depth.field.choices %}
                                        <option {% if form.depth.value == value %} selected {% endif %} value="{{value}}">{{text}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="mb-8 mt-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="fs-6 fw-bold required mb-2 mt-md-0 mt-3">Material
                                        Type</label>
                                    <select class="form-select form-select-solid custom_material_type" data-control="select2" data-hide-search="true" data-placeholder="Select Material" name="{{form.mat_type.name}}">
                                        <option value="">Select Material</option>
                                        {% for value, text in form.mat_type.field.choices %}
                                                    <option value="{{value}}" {% if form.mat_type.value == value %} selected {% endif %} >{{text}}</option>
                                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="fs-6 fw-bold mb-2 mt-md-0 mt-3 required">Qty</label>
                                    <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control form-control-solid qty required"  placeholder="Qty" name="{{form.quantity.name}}" value="{% if form.quantity.value %}{{form.quantity.value}}{% endif %}" />
                                    {{form.quantity.errors.0}}
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <label class="mb-4 fs-6 fw-bold required">Edge Profile:
                                </label>
                                <div class="border radio_sec">
                                    {% for value, text in form.edge_profile.field.choices %}
                                    <div class="form-check form-check-custom form-check-solid mx-3 mb-3 mt-2">
                                        {% ifnotequal text "Round" %}
                                        <input class="form-check-input" type="radio"
                                                {% if value == form.edge_profile.value %} checked {% endif %}
                                               value="{{value}}" id="standard" name="edge_profile" />
                                        <label class="form-check-label me-4" for="edge_profile">
                                            {{text}}
                                        </label>
                                        {% endifnotequal %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="mb-4 fs-6 fw-bold required">Dog Eared:
                                </label>
                                <div class="border radio_sec">
                                    {% for value, text in form.dog_eared.field.choices %}
                                    <div class="form-check form-check-custom form-check-solid mx-3 mb-3 mt-2">
                                        <input class="form-check-input" type="radio" value="{{value}}"
                                               {% if value == form.dog_eared.value %} checked {% endif %}
                                               id="dg-eared" name="dog_eared" />
                                        <label class="form-check-label " for="edge_profile">
                                            {{text}}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row mt-8">
                            <div class="col-md-6" id="ldp">
                                <label class="fs-6 fw-bold required mb-2 mt-md-0 mt-3">Left
                                    Drill
                                    Pattern</label>


                                <select class="form-select form-select-solid custom_dp"
                                        data-control="select2" data-hide-search="true"
                                        data-ori="left"
                                        data-placeholder="Select Left Drill Pattern"
                                        name="{{form.custom_drill_pattern_left.name}}">

                                   {% for value, text in form.custom_drill_pattern_left.field.choices %}
                                        <option value="{{value}}" {% if form.custom_drill_pattern_left.value == value %} selected {% endif %} >{{text}}</option>
                                   {% endfor %}
                                </select>
                                {% include 'room_options/partitions/_drill_pat.html' with name="left" ele=form.custom_drill_code_lft %}


                            </div>

                            <div class="col-md-6" id="rdp">

                                <label class="fs-6 fw-bold required mb-2 mt-md-0 mt-3">Right
                                    Drill
                                    Pattern</label>
                                <select class="form-select form-select-solid custom_dp"
                                        data-ori="right"
                                        data-control="select2" data-hide-search="true"
                                        data-placeholder="Select Right Drill Pattern"
                                        name="{{form.custom_drill_pattern_right.name}}">

                                    {% for value, text in form.custom_drill_pattern_right.field.choices %}
                                          <option value="{{value}}" {% if form.custom_drill_pattern_right.value == value %} selected {% endif %} >{{text}}</option>
                                    {% endfor %}
                                </select>

                                {% include 'room_options/partitions/_drill_pat.html' with name="right" ele=form.custom_drill_code_rgt %}
                            </div>
                        </div>

                        <div class="row mt-8 mb-8">
                            <div class="col-md-6">

                                <label class="fs-6 fw-bold required mb-2 mt-md-0 mt-3">Left
                                    3rd line of Holes
                                </label>


                                <div class="d-flex border radio_sec pb-0">
                                    <div class="form-check form-check-custom form-check-solid mx-3 mb-3">
                                        <input class="form-check-input" type="radio" value="True"
                                               {% chk_true form.left_3rd_line_hole.value True %}
                                               id="l3h-yes" name="{{form.left_3rd_line_hole.name}}" />
                                        <label class="form-check-label" for="l3h-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check form-check-custom form-check-solid mx-3 mb-3">
                                        <input class="form-check-input" type="radio" value="False"
                                               {% chk_true form.left_3rd_line_hole.value False %}
                                               id="l3h-no" name="{{form.left_3rd_line_hole.name}}" />
                                        <label class="form-check-label" for="l3h-no">
                                            No
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">

                                <label class="fs-6 fw-bold required mb-2 mt-md-0 mt-3">Right
                                    3rd lines of Holes
                                </label>


                                <div class="d-flex border radio_sec pb-0">
                                    <div class="form-check form-check-custom form-check-solid mx-3 mb-3">
                                        <input class="form-check-input" type="radio" value="True" id="r3h-yes"
                                               {% chk_true form.right_3rd_line_hole.value True %}
                                               name="{{form.right_3rd_line_hole.name}}" />
                                        <label class="form-check-label" for="r3h-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check form-check-custom form-check-solid mx-3 mb-3">
                                        <input class="form-check-input" type="radio" value="False"
                                               {% chk_true form.right_3rd_line_hole.value False %}
                                               id="r3h-no" name="{{form.right_3rd_line_hole.name}}" />
                                        <label class="form-check-label" for="r3h-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="notes">
                            <label class="fs-6 fw-bold mb-2 form-control-solid">Notes:</label>
                            <textarea class="form-control 1_shelf_notes form-control-solid"
                                      name="{{form.notes.name}}">{% if form.notes.value %} {{form.notes.value}} {% endif %}</textarea>
                        </div>
                        <input type="hidden" name="{{form.part_sub_category.name}}" value="CUSTOM">

                            {% if room_partition %}
                            <div class="d-flex justify-content-end pt-7">
                                <a class="btn btn-secondary me-2" href="{% url 'room_options:room-partition' room_id=room.id  %}">Cancel</a>
                                <button class="btn btn-primary submit-form" type="submit">Update</button>
                            </div>
                            {% else %}
                            <div class="d-flex justify-content-end pt-7">
                                <button class="btn btn-secondary me-2 clear-btn clear-data" type="reset">Clear</button>
                                <button class="btn btn-primary standard_submit submit-form" id="submit-data" type="button">Submit</button>
                            </div>
                            {% endif %}

                    </div>
                    <div class="col-lg-6 text-center">
                        <img src="{% static 'images/pattern.png' %}" class="img-fluid partition-standardImg" alt="Images" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% include 'room_options/partials/_partition_table.html' with partitions=partitions %}
{% endblock room_form %}
{% block extra_scripts %}

<script>

    function showHideTextBox(selector, val){
        $(selector).change(function() {
            if ($(this).prop("checked") == true) {
                if ($(this).val() == "Custom") {
                    $(selector).parent().parent().find(".custom_text").removeClass("d-none");
                    $(selector).parent().parent().find(".text_dropdown").addClass("d-none");
                } else {
                    $(selector).parent().parent().find(".custom_text").addClass("d-none");
                    $(selector).parent().parent().find(".text_dropdown").removeClass("d-none");

                }
            }
        });
    }
    showHideTextBox('.custom_partition_radio')
    showHideTextBox('.custom_partition_radio_depth')

    $('.text_dropdown select').change(function(event) {
        $(this).parent().parent().find(".custom_text input").val($(this).val())
    })

    $(".standard_submit").click(function (e) {
        e.preventDefault();
        var ele = $(this).parents(".standard_block");
        var depth = $(ele).find(".custom_depth").val();
        var material = $(ele).find(".custom_material_type option:selected").val();
        var height = $(ele).find(".custom_height").val();
        var qty = $(ele).find(".qty").val();

        if (material == 0 && depth == 0 && height == 0 && qty == 0) {
            sweetAlert('Please Fill all the Field');
        }
        else if (material == undefined && depth == undefined && height == undefined && qty == "") {
            sweetAlert('Please Fill all the Field');
        }

        else if (material == 0 || material == undefined) {
            sweetAlert('Material Type is required.');

        }
        else if (depth == 0 || depth == undefined) {
            sweetAlert('Depth is required.');

        }
        else if (height == 0 || height == undefined) {
            sweetAlert('Height is required.');

        }
        else if (qty == "") {
            sweetAlert('Quantity is required.');
        }
        else {
            $('#submit-data').attr('disabled', true);
            $('#custom-partition-form').submit();
            clearData();
        }

    });
</script>
<script>
    var interestingValues = ['Flat', 'Round'];
    let rval = 0;
    let lval = 0;
    {% if room_partition.custom_drill_code_rgt %}
    rval = {{ room_partition.custom_drill_code_rgt.id }};
    {% endif %}
    {% if room_partition.custom_drill_code_lft %}
    lval = {{ room_partition.custom_drill_code_lft.id }};
    {% endif %}
    $('.custom_dp').change(function (evt){
        let selected = $(this).find('option:selected').text();
        if($('#id_height').val() > 0 && $('#id_depth').val() > 0){
            if(interestingValues.includes(selected)){
                $(this).parent().find('.dr-option').removeClass('d-none');
                var tpe = 'flat';
                if(selected == 'Round'){
                    tpe = 'rnd';
                }
                let mm22 = $(this).parent().find('.rd-22mm:checked').val()
                var data ={
                    "height": $('#id_height').val(),
                    "depth": $('#id_depth').val(),
                    "type": tpe,
                    "is_22mm": mm22 == "True"
                }
                var controller = $(this);
                $(this).parent().find('.loading').removeClass('d-none')
                $.ajax({
                  customCtl: controller,
                  type: "POST",
                  url: "{% url 'room_options:drill-map' %}",
                  data: JSON.stringify(data),
                  success: function(data, textStatus, jqXHR)
                    {
                        this.customCtl.parent().find('.drillcode').empty();
                        this.customCtl.parent().find('.drillcode').select2({
                            data: data.result,
                            minimumResultsForSearch: -1
                        }).change();
                        if(this.customCtl.attr('data-ori') == 'right' && rval != 0){
                            $('#rdp').find('.drillcode').val(rval).change();
                        }
                        if(this.customCtl.attr('data-ori') == 'left' && lval != 0){
                            $('#ldp').find('.drillcode').val(lval).change();
                        }
                         this.customCtl.parent().find('.loading').addClass('d-none');

                    },
                  contentType: 'application/json; charset=utf-8',
                    dataType: 'json'
                });
            }else{
                $(this).parent().find('.dr-option').addClass('d-none');
                $(this).parent().find('.drillcode').empty();
            }
        }
    })

    $('input[name="left-22mm"]').change(function (e) {
        $('#ldp').find('.custom_dp').trigger('change');
    })
    $('input[name="right-22mm"]').change(function (e) {
        $('#rdp').find('.custom_dp').trigger('change');
    })


</script>


{% if room_partition %}
<script>
    $(document).ready(function() {
        if ("{% is_in_list form.height.field.choices form.height.value %}" == "checked"){
            $('#standard-height').trigger('click');
        }
        else{
            $('#custom-height').trigger('click');
        }
        if ("{% is_in_list form.depth.field.choices form.depth.value %}" == "checked"){
            $('#standard_depth').trigger('click');
        }
        else{
            $('#custom_depth').trigger('click');
        }

        {% if room_partition.custom_drill_code_rgt.rnd or room_partition.custom_drill_code_rgt.flat  %}
            {% if room_partition.custom_drill_code_rgt.mm22 %}
                $('input[name="right-22mm"][value="True"]').prop('checked', true);
            {% endif %}
                $('#rdp').find('.custom_dp').trigger('change');
        {% endif %}
        {% if room_partition.custom_drill_code_lft.rnd or room_partition.custom_drill_code_lft.flat  %}
            {% if room_partition.custom_drill_code_lft.mm22 %}
                $('input[name="left-22mm"][value="True"]').prop('checked', true);
            {% endif %}
                $('#ldp').find('.custom_dp').trigger('change');
        {% endif %}

    })



</script>
    {% else %}
    <script>
    $(document).ready(function() {

            $('#standard-height').trigger('click');


            $('#standard_depth').trigger('click');
        })
</script>
{% endif %}



{% endblock extra_scripts %}