{% extends 'room_options/base_room_option.html' %} {% load static custom_tag %}
{% load room_extras %}
{% block extra_stylesheets %}
<style>
    .disabledbutton {
    pointer-events: none;
    opacity: 0.8;
}
.pdtop-20
{
    padding-top: 20px;
}
.pdtop-16
{
    padding-top: 1.1rem;
    padding-left: .1rem;
    /* padding: .75rem 1rem;; */
}
.custom-width, .custom-depth
{
    padding-left: 6px;
    padding-right: 6px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
</style>
{% endblock %}
{% block navbartitle %} Kd Shelf{% endblock %}
{% block option_title %}Kd Shelf{% endblock %}
{% block crumb %}Kd Shelf{% endblock %}

{% block room_form %}

<form method="POST" action="" id="kd_form">
    {% csrf_token %}
    <div class="d-flex mb-8 pb-3 mt-8 justify-content-between align-items-center">
        <h2 class="selected_room">Selected Room: {{ room|title }}</h2>
        <div class="buttons-type-list">
            <a class="btn btn-secondary me-2 text-center standard-btn " href="{% url 'room_options:room-kd-shelf' room_id=room.id  %}?type=STANDARD">Standard</a>
            <a class="btn btn-secondary me-2 text-center standard-btn " href="{% url 'room_options:room-kd-shelf' room_id=room.id %}?type=CUSTOM">Custom Kd
                Shelf</a>
            <a class="btn btn-secondary me-2 text-center standard-btn active" href="{% url 'room_options:room-kd-shelf' room_id=room.id %}?type=1_IN_KD">1 In Kd Shelf</a>
        </div>
    </div>
    <div class="row g-5 g-xxl-8">
        <div class="col-xl-12">
            <!-- 1 in KD Shelves -->
            <div class="card mb-5 mb-xxl-8 1kd-shelves-block">
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-row justify-content-between w-100 align-items-center">
                        1 In KD Shelf
                    </h3>
                </div>
                <div class="card-body 1_shelf_section standard_block">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card-body  table-responsive second_section">
                                <div class="mb-5">
                                    <label class="required fs-6 fw-bold mb-2 mt-2">Edge</label>
                                    <select class="form-select form-select-solid edge" data-control="select2" data-placeholder="Select Edge" name="{{form.kd_shelf_edge.name}}" required="true">
                                    <option value="">Select Edge</option>
                                    {% for value, text in form.kd_shelf_edge.field.choices %}
                                    <option value="{{value}}" {% if form.kd_shelf_edge.value == value %} selected {% endif %}>{{text}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                                <!-- predefined widthand depth -->
                                <div class="row g-2 add-block align-items-center mb-8">
                                    <div class="col-md-2 col-1">
                                        <div class=" form-check form-check-custom form-check-solid pdtop-20">
                                            <input class="form-check-input" type="radio" value="0" id="check-input" name="Plytype" {% if form.depth.value == 12 and form.width.value == 31.5  %}checked{% endif %}/> 
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-4 fv-row">
                                        <label class="form-check-label fs-6 fw-bold mb-2" for="1mm">Qty</label>
                                        <input type="number" min="0"  class="form-control quantity form-control-solid" placeholder="Qty" name="{{form.quantity.name}}" value="{% if form.depth.value == 12 and form.width.value == 31.5  %}{{form.quantity.value}}{% endif %}">
                                    </div>
                                    <div class="col-md-1 col-1 fv-row">
                                        <span class="fs-6 fw-bold pdtop-20 d-inline-block">@</span>
                                    </div>
                                    <div class="col-md-2 col-4 fv-row">
                                        <label class="form-check-label fs-6 fw-bold mb-2" for="">Width</label><br/>
                                        <span class="size-text pdtop-16 d-inline-block">31.5</span>
                                        <input type="hidden" value="31.50" name="{{form.width.name}}" class="width">
                                    </div>
                                    <div class="col-md-1 col-1 fv-row">
                                        <span class="fs-6 fw-bold pdtop-20 d-inline-block">X</span>
                                    </div>
                                    <div class="col-md-2  col-4 fv-row">
                                        <label class="form-check-label fs-6 fw-bold mb-2" for="">Depth</label><br/>
                                        <span class="size-text pdtop-16 d-inline-block">12</span>
                                        <input type="hidden" value="12" name="{{form.depth.name}}" class="depth">
                                    </div>
                                </div>
                                <div class="row g-2 add-block align-items-center mb-8">
                                    <div class="col-md-2 col-1 form-check form-check-custom form-check-solid mb-3">
                                        <input class="form-check-input" type="radio" value="1" id="check-input" name="Plytype" {% if form.depth.value == 16 and form.width.value == 31.5  %}checked{% endif %}/>
                                    </div>
                                    <div class="col-md-2 col-4 fv-row">
                                        <input type="number" min="0"  class="form-control quantity form-control-solid" placeholder="Qty" name="{{form.quantity.name}}" value="{% if form.depth.value == 16 and form.width.value == 31.5  %}{{form.quantity.value}}{% endif %}">
                                    </div>
                                    <div class="col-md-1 col-1 fv-row">
                                        <span class="fs-6 fw-bold">@</span>
                                    </div>
                                    <div class="col-md-2 col-3 fv-row">
                                        <span class="size-text">31.5</span>
                                        <input type="hidden" value="31.50" name="{{form.width.name}}" class="width">
                                    </div>
                                    <div class="col-md-1 col-1 fv-row">
                                        <span class="fs-6 fw-bold">X</span>
                                    </div>
                                    <div class="col-md-2  col-2 fv-row">
                                        <span class="size-text">16</span>
                                        <input type="hidden" value="16" name="{{form.depth.name}}" class="depth">
                                    </div>
                                </div>
                                <div class="row g-2 add-block align-items-center mb-8">
                                    <div class="col-md-2 col-1 form-check form-check-custom form-check-solid mb-3">
                                        <input class="form-check-input" type="radio" value="2" id="check-input" name="Plytype" {% if form.depth.value == 24 and form.width.value == 31.5  %}checked{% endif %}/>
                                    </div>
                                    <div class="col-md-2 col-4 fv-row">
                                        <input type="number" min="0"  class="form-control quantity form-control-solid" placeholder="Qty" name="{{form.quantity.name}}" value="{% if form.depth.value == 24 and form.width.value == 31.5  %}{{form.quantity.value}}{% endif %}">
                                    </div>
                                    <div class="col-md-1 col-1 fv-row">
                                        <span class="fs-6 fw-bold">@</span>
                                    </div>
                                    <div class="col-md-2 col-3 fv-row">
                                        <span class="size-text">31.5</span>
                                        <input type="hidden" value="31.50" name="{{form.width.name}}" class="width">
                                    </div>
                                    <div class="col-md-1 col-1 fv-row">
                                        <span class="fs-6 fw-bold">X</span>
                                    </div>
                                    <div class="col-md-2  col-2 fv-row">
                                        <span class="size-text">24</span>
                                        <input type="hidden" value="24" name="{{form.depth.name}}" class="depth">
                                    </div>
                                </div>
                                <!-- end predefined width and depth -->
                                
                                <div class="row g-2 add-block align-items-center mb-8">
                                    <div class="col-md-2 col-1 form-check form-check-custom form-check-solid mb-3">
                                        <input class="form-check-input" type="radio" value="3" id="check-input" name="Plytype" {% if form.depth.value != 12 and form.depth.value != 16 and form.depth.value != 24 and form.width.value != 31.5  %}checked{% endif %}/>
                                    </div>
                                    <div class="col-md-2 col-4 fv-row">
                                        <input type="number" min="0"  class="form-control quantity form-control-solid" placeholder="Qty" name="{{form.quantity.name}}" value="{% if form.depth.value != 12 and form.depth.value != 16 and form.depth.value != 24 and form.width.value != 31.5  %}{{form.quantity.value}}{% endif %}">
                                    </div>
                                    <div class="col-md-1 col-1 fv-row">
                                        <span class="fs-6 fw-bold">@</span>
                                    </div>
                                    <div class="col-md-2 col-3 fv-row">
                                        <input name="{{form.width.name}}" type="text" value="{% if form.width.value != None and form.depth.value != 12 and form.depth.value != 16 and form.depth.value != 24 and form.width.value != 31.5  %}{{form.width.value}}{% endif %}"  class="form-control custom-width form-control-solid width" placeholder="Width">
                                    </div>
                                    <div class="col-md-1 col-1 fv-row">
                                        <span class="fs-6 fw-bold">X</span>
                                    </div>
                                    <div class="col-md-2  col-2 fv-row">
                                        <input name="{{form.depth.name}}" type="text" value="{% if form.depth.value != None  and form.depth.value != 12 and form.depth.value != 16 and form.depth.value != 24 and form.width.value != 31.5  %}{{form.depth.value}}{% endif %}"  class="form-control custom-width form-control-solid depth" placeholder="Depth">
                                    </div>
                                </div>
                                <div class="notes">
                                    <label class="fs-6 fw-bold mb-2">Notes:</label>
                                    <textarea class="form-control custom_notes" name="{{form.notes.name}}">{% if form.notes.value %} {{form.notes.value}} {% endif %}</textarea>
                                    {{form.notes.errors.0}}
                                </div>
                                <input type="hidden" name="{{form.part_sub_category.name}}" value="1_IN_KD">
                                {% if room_kd %}
                                <div class="d-flex justify-content-end pt-7">
                                    <a class="btn btn-secondary me-2" href="{% url 'room_options:room-kd-shelf' room_id=room.id  %}">Cancel</a>
                                    <button class="btn btn-primary standard_submit submit-form" id="submit-data" type="button">Update</button>
                                </div>
                                {% else %}
                                <div class="d-flex justify-content-end pt-7">
                                    <button class="btn btn-secondary me-2 clear-btn clear-data" type="reset">Clear</button>
                                    <button class="btn btn-primary standard_submit submit-form" id="submit-data" type="button">Submit</button>
                                </div>
                                {% endif %}                               
                            </div>
                            <!--end::Card body-->
                        </div>
                        <div class="col-lg-6">
                            <div class="">
                                <img alt="Logo" class="img-fluid" src="{% static 'images/square-box.jpg' %}" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% include 'room_options/partials/_kd_shelf_table.html' with kd_shelves=kd_shelves %}

{% endblock room_form %}
{% block extra_scripts %}
<script>

    //submit fun for standard
    $(".standard_submit").click(function(e) {
        e.preventDefault();
        var edge = $(this).parents(".second_section").find(".edge option:selected").val();
        var notes = $(this).parents(".second_section").find(".1_shelf_notes").val();
        var ele = $("input[name='Plytype']:checked").parents('.add-block');

        if ($("input[name='Plytype']:checked").length > 0) {
            var quantity = $(ele).find('.quantity').val();
            var width = $(ele).find('.width').val();
            var depth = $(ele).find('.depth').val();

            if (edge == 0 || edge == undefined) {
                sweetAlert('Edge is required.');
            } else if (quantity == "") {
                sweetAlert('Quantity is required.');
            }  else if (width == 0 || width == undefined) {
                sweetAlert('Width is required.');
            } else if (depth == 0 || depth == undefined) {
                sweetAlert('Depth is required.');
            } else {
                $('#submit-data').attr('disabled', true);
                $('#kd_form').submit();
            }
        }
    })


    function sweetAlert(msg) {
        Swal.fire({
            text: msg,
            customClass: {
                confirmButton: 'btn btn-primary'
            }
        });
    }

    deleteDoorItem=(url,pk)=>{
        $.ajax({                       
            url: url,                  
            data: {"pk":pk
                },
            success: function (data) {
            data=JSON.parse(data)
            if(data['status']==200){
                Swal.fire({
                    title:    'Deleted!',
                    text: 'Your data has been deleted.',
                    icon:  'success',
                    customClass: {
                    confirmButton: 'btn btn-primary',            
                    },
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload();
                        }
                    });
                } 
                
            }   
        });
    }
    $(document).on("click", ".del-data", function (e) {
        pk= $(this).data('delete_id')
        delete_url = $(this).data('url')
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,       
                customClass: {
                    confirmButton: 'btn btn-primary',
                    cancelButton: 'btn btn-secondary'
                },
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                deleteDoorItem(delete_url,pk)
                }
            })
            e.preventDefault();
    });

   
</script>
{% endblock extra_scripts %}
