{% extends 'room_options/base_room_option.html' %} {% load static custom_tag %}
{% load room_extras %}
{% block navbartitle %} Kd Shelf{% endblock %}
{% block option_title %}Kd Shelf{% endblock %}
{% block crumb %}Kd Shelf{% endblock %}

{% block room_form %}

<form method="POST" action="" id="kd_form">
    {% csrf_token %}
    <div class="d-flex mb-8 pb-3 mt-8 justify-content-between align-items-center">
        <h2 class="selected_room">Selected Room: {{ room|title }}</h2>
        <div class="buttons-type-list">
            <a class="btn btn-secondary me-2 text-center standard-btn active" href="{% url 'room_options:room-kd-shelf' room_id=room.id  %}?type=STANDARD">Standard</a>
            <a class="btn btn-secondary me-2 text-center standard-btn " href="{% url 'room_options:room-kd-shelf' room_id=room.id %}?type=CUSTOM">Custom Kd
                Shelf</a>
            <a class="btn btn-secondary me-2 text-center standard-btn " href="{% url 'room_options:room-kd-shelf' room_id=room.id %}?type=1_IN_KD">1 In Kd Shelf</a>
        </div>
    </div>

    <div class="row g-5 g-xxl-8">
        <div class="col-xl-12">                                    
            <div class="card mb-5 mb-xxl-8 standard_section">
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-row justify-content-between w-100 align-items-center">
                        Standard
                    </h3>
                </div>
                <div class="card-body standard_block">
                    <div class="col-xl-6 px-0">
                        <div class="row dafault-shelve add-block">
                            <div class="col-md-6">
                                <div class="mb-8">
                                    <label class="fs-6 fw-bold mb-2 mt-md-0 mt-3 required">Depth</label>
                                    <select class="form-select form-select-solid depth_select" data-control="select2" data-placeholder="Select Depth" name="{{form.depth.name}}" required="true">
                                    <option selected value="">Select Depth</option>
                                    {% for value, text in form.depth.field.choices %}
                                    <option value="{{value}}" {% if form.depth.value|floatformat == text|floatformat %} selected {% endif %} >{{text}}</option>
                                    {% endfor %}
                                </select>
                                {{form.depth.errors.0}}
                                </div>
                                <div class="mb-8">
                                    <label class="fs-6 fw-bold mb-2 mt-md-0 mt-3 required">Width</label>
                                    <select class="form-select form-select-solid height_select" data-control="select2" data-placeholder="Select Width" name="{{form.width.name}}" required="true">
                                        <option selected value="">Select width</option>
                                        {% for value, text in form.width.field.choices %}
                                        <option value="{{value}}" {% if form.width.value|floatformat == text|floatformat %} selected {% endif %} >{{text}}</option>
                                        {% endfor %}
                                    </select>
                                    {{form.room.errors.0}}
                                </div>
                               
                            </div>

                            <div class="col-md-6">
                                <div class="mb-8">
                                    <label class="fs-6 fw-bold mb-2 mt-md-0 mt-3 required">Material</label>
                                    <select class="form-select form-select-solid material_type material_select" data-control="select2" data-hide-search="true" data-placeholder="Select Material" name="{{form.mat_type.name}}" required="true">
                                    <option selected value="">Select Material</option>
                                    {% for value, text in form.mat_type.field.choices %}
                                    <option value="{{value}}" {% if form.mat_type.value == value %} selected {% endif %} >{{text}}</option>
                                    {% endfor %}
                                </select>
                                {{form.room.errors.0}}
                                </div>

                                <div class="mb-8">
                                    <label class="fs-6 fw-bold mb-2 mt-md-0 mt-3 required">Qty</label>
                                    <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control form-control-solid qty" placeholder="Qty" name="{{form.quantity.name}}" value="{% if form.quantity.value %}{{form.quantity.value}}{% endif %} " required="true"/>
                                    {{form.quantity.errors.0}}
                                </div>
                            </div>

                            <div class="notes">
                                <label class="fs-6 fw-bold mb-2">Notes:</label>
                                <textarea class="form-control form-control-solid standard_notes" name="{{form.notes.name}}" >{% if form.notes.value %} {{form.notes.value}} {% endif %}</textarea>
                            </div>
                            <input type="hidden" name="{{form.part_sub_category.name}}" value="STANDARD">
                            {% if room_kd %}
                            <div class="d-flex justify-content-end pt-7">
                                <a class="btn btn-secondary me-2" href="{% url 'room_options:room-kd-shelf' room_id=room.id  %}">Cancel</a>
                                <button class="btn btn-primary standard_submit submit-form" id="submit-data" type="button">Update</button>
                            </div>
                            {% else %}
                            <div class="d-flex justify-content-end pt-7">
                                <button class="btn btn-secondary me-2 clear-btn clear-data" type="reset">Clear</button>
                                <button class="btn btn-primary standard_submit submit-form" id="submit-data" type="button">Submit</button>
                            </div>
                            {% endif %}  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% include 'room_options/partials/_kd_shelf_table.html' with kd_shelves=kd_shelves %}

{% endblock room_form %}

{% block extra_scripts %}
<script>

    //submit fun custom kd shelves
    $(".standard_submit").click(function(e) {
        var ele = $(this).parents('.add-block');

        var Category = $(this).parents(".standard_block").siblings(".card-header").find("h3").text();
        var material_type = $(ele).find(".material_type option:selected").val()
        var quantity = $(ele).find('.qty').val();
        var width = $(ele).find('.height_select option:selected').val();
        var depth = $(ele).find('.depth_select option:selected').val();
        var notes = $(ele).find(".custom_notes").val();

        if (material_type == 0 && Edge == 0 && quantity == "" && width == "" && depth == "") {
            sweetAlert('Please Fill all the Field');
        } else if (material_type == undefined && Edge == undefined && quantity == "" && width == "" && depth == "") {
            sweetAlert('Please Fill all the Field');
        } else if (depth == "" || depth == 0) {
            sweetAlert('Depth is required.');
        } else if (width == "" || width == 0) {
            sweetAlert('Width is required.');
        }else if (material_type == 0 || material_type == undefined) {
            sweetAlert('Material Type is required.');
        } else if (quantity == "" || quantity == 0) {
            sweetAlert('Quantity is required.');
        } else {
            $('#submit-data').attr('disabled', true);
            $('#kd_form').submit();
            clearData();
        }
        e.preventDefault();

    });


    function sweetAlert(msg) {
        Swal.fire({
            text: msg,
            customClass: {
                confirmButton: 'btn btn-primary'
            }
        });
    }

    deleteDoorItem=(url,pk)=>{
        $.ajax({                       
            url: url,                  
            data: {"pk":pk
                },
            success: function (data) {
                data=JSON.parse(data)
                    if(data['status']==200){
                Swal.fire({
                    title:    'Deleted!',
                    text: 'Your data has been deleted.',
                    icon:  'success',
                    customClass: {
                    confirmButton: 'btn btn-primary',            
                    },
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload();
                        }
                    });
                } 
            }   
        });
    }
    
    $(document).on("click", ".del-data", function (e) {
        pk= $(this).data('delete_id')
        delete_url = $(this).data('url')
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,       
            customClass: {
                confirmButton: 'btn btn-primary',
                cancelButton: 'btn btn-secondary'
            },
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
            deleteDoorItem(delete_url,pk)
            }
        })
        e.preventDefault();
    });

    $('input[type=radio][name=room]').change(function() {
        text = "Selected Room: "+ $(this).siblings('label').text()
        $(".selected_room").text(text) 
        url = $(this).attr('data-url')
        value = $(this).siblings('label').text();
        $("#data_table td.form_detail:contains('" + value + "')").parent().show();
        $("#data_table td.form_detail:not(:contains('" + value + "'))").parent().hide();

        $.ajax({
            url: url,
            method: "GET",
            success: function (data) {
                text_bd_color ="<em class='text-muted'>Board Color:</em> " + data['bd_color']
                text_ed_profile ="<em class='text-muted'>Edge Profile:</em> " + data['ed_profile']
                text_ed_color ="<em class='text-muted'>Edge Color:</em> " + data['ed_color']
                text_dd_color ="<em class='text-muted'>Door 'n Drawer Color:</em> " + data['dd_color']
                $(".bd_color_class").html(text_bd_color)
                $(".ed_profile_class").html(text_ed_profile)
                $(".ed_color_class").html(text_ed_color)
                $(".dd_color_class").html(text_dd_color)
            },
            error: function (data) {}
        })
    })

    $( document ).ready(function() {
        value = $('input[type=radio][name=room]:checked').siblings('label').text();
        $("#data_table td.form_detail:contains('" + value + "')").parent().show();
        $("#data_table td.form_detail:not(:contains('" + value + "'))").parent().hide();
    })

</script>
{% endblock extra_scripts %}



