{% extends 'room_options/base_room_option.html' %} {% load static custom_tag %}
{% load room_extras %}
{% block navbartitle %} Kd Shelf{% endblock %}
{% block option_title %}Kd Shelf{% endblock %}
{% block crumb %}Kd Shelf{% endblock %}
{% block extra_stylesheets %}
<style>
.pdtop-10
{
    padding-top: 10px;
}
.custom-width, .custom-depth
{
    padding-left: 6px;
    padding-right: 6px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
</style>
{% endblock %}
{% block room_form %}

<form method="POST" action="" id="kd_form">
    {% csrf_token %}
    <div class="d-flex mb-8 pb-3 mt-8 justify-content-between align-items-center">
        <h2 class="selected_room">Selected Room: {{ room|title }}</h2>
        <div class="buttons-type-list">
            <a class="btn btn-secondary me-2 text-center standard-btn " href="{% url 'room_options:room-kd-shelf' room_id=room.id  %}?type=STANDARD">Standard</a>
            <a class="btn btn-secondary me-2 text-center standard-btn  active" href="{% url 'room_options:room-kd-shelf' room_id=room.id %}?type=CUSTOM">Custom Kd
                Shelf</a>
            <a class="btn btn-secondary me-2 text-center standard-btn " href="{% url 'room_options:room-kd-shelf' room_id=room.id %}?type=1_IN_KD">1 In Kd Shelf</a>
        </div>
    </div>
    <div class="row g-5 g-xxl-8">
        <div class="col-xl-12">
            <div class="card mb-5 mb-xxl-8 custom-kd-shelves-block">
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-row justify-content-between w-100 align-items-center">
                        Custom Kd Shelf
                    </h3>
                </div>
                <div class="card-body custom_section">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card-body table-responsive add-block">
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="mb-10">
                                            <label class="required fs-6 fw-bold mb-2">Material
                                            Type</label>
                                            <select class="form-select form-select-solid material_type" data-control="select2" data-hide-search="true" data-placeholder="Select Material" name="{{form.mat_type.name}}" required="true">
                                            <option selected value="">Select Material Type
                                            </option>
                                            {% for value, text in form.mat_type.field.choices %}
                                            <option value="{{value}}" {% if form.mat_type.value == value %} selected {% endif %}>{{text}}</option>
                                            {% endfor %}
                                        </select>
                                        {{form.room.errors.0}}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-10">
                                            <label class="required fs-6 fw-bold mb-2">Edge</label>
                                            <select class="form-select form-select-solid edge" data-control="select2" data-placeholder="Select Edge" name="{{form.kd_shelf_edge.name}}" required="true">
                                            <option selected value="">Select Edge</option>
                                            {% for value, text in form.kd_shelf_edge.field.choices %}
                                            <option value="{{value}}" {% if form.kd_shelf_edge.value == value %} selected {% endif %}>{{text}}</option>
                                            {% endfor %}
                                        </select>
                                        {{form.room.errors.0}}
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-10">
                                    <label class="required fs-6 fw-bold mb-2">Internal KD with
                                    insert Backing</label>
                                    <select class="form-select form-select-solid edge insert_backing" data-control="select2" data-placeholder="Select Option" name="{{form.insert_backing.name}}" required="true">
                                        <option selected value="">Select Option</option>
                                        {% for value, text in form.insert_backing.field.choices %}
                                        <option value="{{value}}" {% if form.insert_backing.value == value %} selected {% endif %}>{{text}}</option>
                                        {% endfor %}
                                    </select>
                                    {{form.room.errors.0}}
                                </div>

                                <div class="row justify-content-center align-items-center mb-6">
                                    <div class="col-md-4 fv-row">
                                        <label class="form-check-label fs-6 fw-bold mb-2 " for="1mm">Qty</label>
                                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control quantity form-control-solid" placeholder="Qty" name="{{form.quantity.name}}" value="{% if form.quantity.value %}{{form.quantity.value}}{% endif %}" required="true">
                                        {{form.quantity.errors.0}}
                                    </div>
                                    <div class="col-md-1 fv-row mt-4">
                                        <label class="fs-6 fw-bold pdtop-10 d-inline-block">@</label>
                                    </div>
                                    <div class="col-md-3 fv-row">
                                        <label class="form-check-label fs-6 fw-bold mb-2" for="1mm">Width</label>
                                        <input name={{form.width.name}} type="text" value="{% if form.width.value %} {{form.width.value}} {% endif %}"  class="form-control custom-width form-control-solid width" placeholder="Width" required="true">
                                        {{form.width.errors.0}}
                                    </div>
                                    <div class="col-md-1 fv-row mt-4">
                                        <span class="fs-6 fw-bold pdtop-10 d-inline-block">X</span>
                                    </div>
                                    <div class="col-md-3 fv-row">
                                        <label class="form-check-label fs-6 fw-bold mb-2" for="1mm">Depth</label>
                                        <input  name={{form.depth.name}} type="text" value="{% if form.depth.value %} {{form.depth.value}} {% endif %}"  class="form-control custom-width form-control-solid depth" placeholder="Depth" required="true">
                                        {{form.depth.errors.0}}
                                    </div>
                                </div>

                                <div class="notes">
                                    <label class="fs-6 fw-bold mb-2">Notes:</label>
                                    <textarea class="form-control custom_notes" name="{{form.notes.name}}">{% if form.notes.value %} {{form.notes.value}} {% endif %}</textarea>
                                    {{form.notes.errors.0}}
                                </div>

                                <input type="hidden" name="{{form.part_sub_category.name}}" value="CUSTOM">
                                {% if room_kd %}
                                <div class="d-flex justify-content-end pt-7">
                                    <a class="btn btn-secondary me-2" href="{% url 'room_options:room-kd-shelf' room_id=room.id  %}">Cancel</a>
                                    <button class="btn btn-primary submit-form" type="submit">Update</button>
                                </div>
                                {% else %}
                                <div class="d-flex justify-content-end pt-7">
                                    <button class="btn btn-secondary me-2 clear-btn clear-data" type="reset">Clear</button>
                                    <button class="btn btn-primary standard_submit submit-form" id="submit-data" type="button">Submit</button>
                                </div>
                                {% endif %}  
                            </div>
                            <!--end::Card body-->
                        </div>
                        <div class="col-lg-6">
                            <div class="">
                                <img alt="kd shelves" class="img-fluid" src="{% static 'images/kd-shelve.png' %}" />

                            </div>
                        </div>
 
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% include 'room_options/partials/_kd_shelf_table.html' with kd_shelves=kd_shelves %}

{% endblock room_form %}

{% block extra_scripts %}
<script>
  
    //submit fun for 1 in kd shelves
    $(".standard_submit").click(function(e) {
        var ele = $(this).parents('.add-block');
        var Category = $(this).parents(".custom_section").siblings(".card-header").find("h3").text();
        var material_type = $(ele).find(".material_type  option:selected").val()
        var Edge = $(ele).find(".edge option:selected").val()
        var quantity = $(ele).find('.quantity').val();
        var width = $(ele).find('.width').val();
        var depth = $(ele).find('.depth').val();
        var notes = $(ele).find(".custom_notes").val();
        var insert_backing = $(ele).find(".insert_backing").val();
        
        if (material_type == 0 && Edge == 0 && insert_backing == 0 && quantity == "" && width == "" && depth == "") {
            sweetAlert('Please Fill all the Field');
        } else if (material_type == undefined && Edge == undefined && insert_backing == undefined && quantity == "" && width == "" && depth == "") {
            sweetAlert('Please Fill all the Field');
        } else if (material_type == 0 || material_type == undefined) {
            sweetAlert('material Type is required.');
        } else if (Edge == 0 || Edge == undefined) {
            sweetAlert('Edge is required.');
        } else if (insert_backing == 0 || insert_backing == undefined) {
            sweetAlert('Insert Backing is required.');
        } else if (quantity == "" || quantity == 0) {
            sweetAlert('Quantity is required.');
        } else if (width == "") {
            sweetAlert('width is required.');
        } else if (depth == "") {
            sweetAlert('Depth is required.');
        } else {
            $('#submit-data').attr('disabled', true);
            $('#kd_form').submit();
        }
    });

    function sweetAlert(msg) {
        Swal.fire({
            text: msg,
            customClass: {
                confirmButton: 'btn btn-primary'
            }
        });
    }

    deleteDoorItem=(url,pk)=>{
        $.ajax({                       
            url: url,                  
            data: {"pk":pk
                },
            success: function (data) {
            data=JSON.parse(data)
                if(data['status']==200){
            Swal.fire({
                    title:    'Deleted!',
                    text: 'Your data has been deleted.',
                    icon:  'success',
                    customClass: {
                    confirmButton: 'btn btn-primary',            
                    },
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.reload();
                        }
                    });
                } 
            }   
        });
    }

    $(document).on("click", ".del-data", function (e) {
        pk= $(this).data('delete_id')
        delete_url = $(this).data('url')
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,       
                customClass: {
                    confirmButton: 'btn btn-primary',
                    cancelButton: 'btn btn-secondary'
                },
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                deleteDoorItem(delete_url,pk)
                }
            })
            e.preventDefault();
    });

    $('input[type=radio][name=room]').change(function() {
        text = "Selected Room: "+ $(this).siblings('label').text()
        $(".selected_room").text(text) 
        url = $(this).attr('data-url')
        value = $(this).siblings('label').text();
        $("#data_table td.form_detail:contains('" + value + "')").parent().show();
        $("#data_table td.form_detail:not(:contains('" + value + "'))").parent().hide();
        $.ajax({
            url: url,
            method: "GET",
            success: function (data) {
                text_bd_color ="<em class='text-muted'>Board Color:</em> " + data['bd_color']
                text_ed_profile ="<em class='text-muted'>Edge Profile:</em> " + data['ed_profile']
                text_ed_color ="<em class='text-muted'>Edge Color:</em> " + data['ed_color']
                text_dd_color ="<em class='text-muted'>Door 'n Drawer Color:</em> " + data['dd_color']
                $(".bd_color_class").html(text_bd_color)
                $(".ed_profile_class").html(text_ed_profile)
                $(".ed_color_class").html(text_ed_color)
                $(".dd_color_class").html(text_dd_color)
            },
            error: function (data) {}
        })
    })

    $( document ).ready(function() {
        value = $('input[type=radio][name=room]:checked').siblings('label').text();
        $("#data_table td.form_detail:contains('" + value + "')").parent().show();
        $("#data_table td.form_detail:not(:contains('" + value + "'))").parent().hide();
    })

</script>
{% endblock extra_scripts %}

