{% extends 'noauth_layout.html' %}
{% load static  %}

{% block content %}
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-size: 100% 50%; background-image: url({% static 'images/outdoor.png' %})">
        <!--begin::Content-->
        <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
            <!--begin::Logo-->
            <a href="index.html" class="mb-12">
                <h3 class="login-head">Classy Ordering System</h3>
            </a>
            <!--end::Logo-->
            <!--begin::Wrapper-->
            <div class="w-lg-500px bg-white rounded shadow-sm p-10 p-lg-15 mx-auto">
                <!--begin::Form-->
                <form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" method="POST" action="">
                    {% csrf_token %}
                    <!--begin::Heading-->
                    <div class="text-center mb-10">
                        <!--begin::Title-->
                        <h1 class="text-dark mb-3">Forgot Password</h1>
                        <!-- <h1 class="text-dark mb-3">Sign In</h1> -->
                        <!--end::Title-->
                        <div class="text-center">
                              <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                        </div>
                        
                    </div>
                    <!--begin::Heading-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-10">
                        <!--begin::Label-->
                        <label class="form-label fs-6 fw-bolder text-dark">Email</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input class="form-control form-control-lg form-control-solid" type="text" name="{{form.email.name}}" autocomplete="off" />
                        <!--end::Input-->
                    </div>
                    <div class="text-center">
                        <!--begin::Submit button-->
                        <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
                            <span class="indicator-label">Continue</span>
                        </button>
                        <!--end::Submit button-->
                        
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
        
    </div>

{% endblock %}
{% block extra_scripts %}
<script>
    $(document).ready(function(){

      $("#kt_sign_in_form").validate({

        rules: {
          email: { required:true, email: true },
            password:{ required:true }
        },

        submitHandler: function(form) {
          form.submit();
         }

      });
        {% if form.errors %}
            Swal.fire({
                html:`{% if form.errors %}
                            <div class="alert alert-error">
                              <h4>Please fix the following errors</h4>
                              <ul>
                                {% for field in form %}
                                  {% if field.errors %}
                                    {% for error in field.errors %}
                                      <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                                    {% endfor %}
                                  {% endif %}
                                {% endfor %}
                            </div>
                          {% endif %}`
                    ,
                icon:"error",
                buttonsStyling:!1,
                confirmButtonText:"Ok, got it!",
                customClass:{confirmButton:"btn btn-primary"}
            });
        {% endif %}
    });
</script>
{% endblock %}