.pattern-img{
    margin-top: 20px ;
    max-height: 55vh;
}

.shelf_width{
    width: 30%;
    margin: auto;
}

table tr td .svg-icon svg [fill]:not(.permanent):not(g)  {
    /* transition: fill .3s ease; */
    fill: #770d29 !important;
}

.empty_mirror{
    margin-top: 20px;
    transform: skew(170deg);
    width: 150px;
    height: 200px;  
    border: 1px solid #770d29;   
    padding: 10px 10px 10px 10px;  
    margin-left: 100px; 
}

.colored_mirror{
    background-color:#770d29;       
    width: 125px;
    height: 175px;
}

/* .sideA1 span{
    margin-left: -82px;   
}*/

.sideA1 input{
    /* margin-left: 14px; */
    width: 30%;
} 

.l-shelf-qty{
    /* margin-top: 250px !important; */
}

.sideA input{
    width: 30%;
    margin-left: auto ; /*140px */
}

.fs-30{
    font-size: 30px !important;
}
@media screen and (max-width:767px) {
   
    .custom_continue_btn{  
        width: 100%;
    }

}


@media screen and (min-width:768px) {
    
    .l-shelf-img{
        height: 300px;
        margin-left: 140px;
        margin-top: 30px;
    }

}

.img-fluid.partition-standardImg{
    width:20%;
}
form .error {
  color: #ff0000;
}
#custom-form .grouping-box{
    background-color: #dff1dc;
}
.block-disabled .grouping-box{
    background-color: #f5e1e8 !important;
    opacity: 1
}
.show-disable{
    display: inline-block;
}
.show-disable{
    display: none;
}
.block-disabled .show-disable{
    display: inline-block;
}
.block-disabled .show-enabled{
    display: none;
}

.height-font {
    font-size: 22px;
}

.dr-option{
    position: relative;
}
.loading{
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 10px;
}