<!--begin::Navbar-->
            <div class="d-flex align-items-stretch" id="kt_header_nav">
                <!--begin::Menu wrapper-->
                <div class="header-menu align-items-stretch">
                    <!--begin::Menu-->
                    <div
                        class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch">
                        <div class="menu-item me-lg-1">
                            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">Drawer
                                Faces</h1>
                            <span class="h-20px border-gray-200 border-start mx-4"></span>
                            {% block breadcrumb %}{% endblock %}
                        </div>
                    </div>
                    <!--end::Menu-->
                </div>
                <!--end::Menu wrapper-->
            </div>
            <!--end::Navbar-->