<script>
    var material_options={
        1:[
            {text: "Alive in  memphis", id: 1 },
            {text: "P/B", id: 2}
        ],
        2:[
            {text:'Standard Melamine', id: 1 }
        ]
    }


    var lookup = {
       'Partition': {
           'mat_type': material_options["1"],
           'x_side_1': true,
           'x_side_2': false,
           'x_side_3': true,
           'x_side_4': false,
           'width':2.4
       },
       'KD Shelf':{
           'mat_type': material_options["1"]
       },
       'Cleats': {
           'mat_type': material_options["1"],
           'width': 3.4
       },
       'Drawer Box': {
           'mat_type': material_options["2"]
       },
    };

</script>


